$main-bg: #FFFFFF;
$main-txt: #121920;
$additional-txt: #BBC4D6;
$third-txt: #768298;
$border-bg: #EBEBF1;

$desktop-sm: 1200px;
$tablet-bp: 769px;
$tablet-sm: 766px;
$mobile-bp: 650px;
$mobile-sm: 585px;